

.dataCard{
    box-sizing: border-box;
    height:20px;
    /* width:100px; */
    /* background-color:purple; */
    color:yellow;
    border-radius: 8px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
}

.container{
    display:flex;
    width:100%;
    align-items:center;
}

.text{
    color:grey;
}