.registercomponent-base{
    width: 100%;
}
.registercomponent-base .registercomponent-form{
    padding: 10px;
    border: 1px solid #929191;
    border-radius: 3px;
}

.registercomponent-form .registercomponent-group{
    padding: 8px;
}
.registercomponent-group .registercomponent-group-item-title{
    font-size: medium;
    text-transform: capitalize;
    font-weight: 400;
}
.registercomponent-group .registercomponent-group-item-input{
    padding: 5px;
}
.registercomponent-submit{
    padding:5px 20px 5px 20px; 
    font-size: 16px;
    
}